
{% load i18n %}
{% load static %}

<!-- <div class="modal-body-content">
    
    {% if actions_list %}
        <div class="action-table-container">
            <table class="action-table table table-striped table-hover table-borderless">
                <thead>
                    <tr>
                        <th>{% trans "Action Title & Description" %}</th>
                        <th>{% trans "Objective" %}</th>
                        <th>{% trans "Status" %}</th>
                        <th class="text-right">{% trans "Details" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for action in actions_list %}
                        <tr class="action-summary-row status-{{ action.status|lower }}" data-action-id="{{ action.id }}"> 
                            <td class="title-col" data-label="Action Title & Description">
                                <strong>{{ action.title }}</strong><br>
                                <p class="text-muted">{{ action.display_small_description }}</p>
                            </td>
                            <td data-label="Objective">
                                {{ action.objective.title }}
                            </td>
                            <td class="status-col" data-label="Status">
                                <span class="status-badge badge-{{ action.status|lower }}">{{ action.get_status_display }}</span>
                            </td>
                            <td class="details-col text-right" data-label="Details">
                                <button class="btn btn-sm toggle-details view-button universal-action-button" onclick="handleDetailsToggle(this)">Show More</button>
                                <button class="btn btn-sm toggle-details close-button universal-action-button" style="display: none;" onclick="handleDetailsToggle(this)">&minus;</button>
                            </td>
                        </tr>
                        
                        <tr class="full-details status-{{ action.status|lower }}" style="display: none;">
                            <td colspan="4">
                                <div class="details-content">
                                    <h5>{% trans "Action Description:" %}</h5>
                                    <p>{{ action.display_description|safe }}</p>
                                    
                                    {% if action.status != 'NOT_STARTED' %}
                                        <hr>
                                        <h5>{% trans "Latest Update:" %}</h5>
                                        <p>{{ action.display_update|safe }}</p>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>{% trans "No actions found matching that status for this theme yet." %}</p>
    {% endif %}
</div> -->