<div class="modal-header-summary py-4">
    <p class="header-summary">
       <strong>{{ theme.title|title }} theme has <strong>{{ theme.objectives.count }}</strong> objectives. 
       Expand the objectives below to see associated actions and view the latest progress updates.
    </p></strong>
</div>
<div class="modal-body-content">
    {% for objective in theme.objectives.all %}
        <div class="accordion-item">
            <button class="accordion-title" onclick="toggleAccordion(this)">
                Objective - {{ objective.title }}
                            <i class="fa-solid fa-angle-down"></i>

            </button>
            
            <div class="accordion-content">
                <div>
                {% if objective.description %}
                    <p class="objective-p">{{ objective.description }}</p>
                    <!-- <hr class="--mcc-blue"> -->
                {% endif %}
                </div>

                {% if objective.active_actions %}
                    <!-- New Container for Action Sub-Accordions -->
                    <div class="action-accordion-container">
                        {% for action in objective.active_actions %}
                            
                            <!-- Action Sub-Accordion Item -->
                            <div class="action-sub-item">
                                <!-- Action Title Button -->
                                <button class="action-sub-title" onclick="toggleActionAccordion(this)">
                                    {{ action.title }}
                                    <i class="fa-solid fa-angle-down"></i>
                                </button>
                                
                                <!-- Action Content (Description and Update) -->
                                <div class="action-sub-content">
                                    <h4>Action Description:</h4>
                                    <p>{{ action.description }}</p>
                                <hr>
                                    <div class="update-section">
                                        
                                        <h4>Latest Update:</h4>
                                        <p>{{ action.update }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>There are no active or in-progress actions for this objective yet.</p>
                {% endif %}
            </div>
        </div>
    {% empty %}
        <p>No objectives found for this theme yet.</p>
    {% endfor %}
</div>