html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  
}

header.masthead {
  /* Change only this line to your new image path */
  background-image: url("../assets/img/bggg.jpg"); 
}


section#contact {
    background-image: url("../assets/img/contact-bg.png") ;
    background-color: rgb(0, 38, 58);
}

header.masthead .masthead-heading {
  font-size: 2.65rem !important;
  /* font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
}


.mcc-blue {
  background-color: rgb(0, 38, 58) !important; /* or any color you want */
}
.mcc-yellow{
  background-color:rgb(254, 186, 53)!important;

}